.checkoutLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

.checkoutLayout .right {
    background-color: #f2f2f6;
    border-radius: 20px;
    padding: 40px;
    color: #fff;
}

.checkoutLayout .right .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid #7a7fe2;
    padding-bottom: 20px;
}

.checkoutLayout .form .group:nth-child(-n+3) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.checkoutLayout .form input,
.checkoutLayout .form select {
    width: 400px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    background-color: #f5eeee;
    color: #121212;
}

.returnCart h1 {
    border-top: 1px solid #eee;
    padding: 20px 0;
}

.list-group-item {
    justify-content: space-between;
}

.list-group-item img {
    border-radius: .25rem;
}

.list-group-item h5 {
    margin-bottom: 0;
}

.list-group .badge {
    font-size: 1em;
}

.totalQuantity,
.totalPrice {
    font-weight: bold;
}